@model Shop.Models.Spaceship.SpaceshipViewModel

<h1>Delete</h1>

<h3>Are you sure want to delete?</h3>

<div>
    <h4>Spaceship</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            <label asp-for="Id" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.Id)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayFor(model => model.Name)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayFor(model => model.ModelType)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayFor(model => model.SpaceshipBuider)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayFor(model => model.PlaceOfBuild)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayFor(model => model.EnginePower)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayFor(model => model.LiftUpToSpaceByTonn)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayFor(model => model.Crew)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayFor(model => model.Passengers)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayFor(model => model.LaunchDate)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayFor(model => model.BuildOfDate)
        </dt>

    </dl>

    <form asp-action="DeleteConfirmation">
        <input type="hidden" asp-for="Id"/>
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index">Back to List</a>

    </form>
</div>